<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Suave" version="2.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="WebSharper" version="4.5.11.334" targetFramework="net472" />
  <package id="WebSharper.FSharp" version="4.5.11.334" targetFramework="net472" />
  <package id="WebSharper.Owin" version="4.5.1.145" targetFramework="net472" />
  <package id="WebSharper.Suave" version="4.5.1.216" targetFramework="net472" />
  <package id="WebSharper.UI" version="4.5.10.166" targetFramework="net472" />
</packages>